body {
	/*background-color: #faebd7;*/
	background-color: #d9d9d9;
	/* #00274c; hex for offical u of m blue */
	/* keeps body content from overlapping with the navbar */
	padding-top: 75px; 
}

.navbar, .navbar-default{
	padding: 10px 0;
  	background: rgba(0, 0, 0, 0);
	border:none;
}

.navbar.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}

ul.nav {
	text-align: center;
	list-style-type: none;
	position: fixed;
	background-color: #4484ce;

	box-shadow: 5px;
	width: 100%; 
	left: 0;
	top: 0; 
	margin-top: 0; 
	margin-bottom: 0; 
	border: none!important; 
	padding: 0; 
}

li a {
	color: #d9d9d9;
}

li.nav{
	border:0!important;
	display: inline-block;
	float: none;
	color: #000000 !important;
	text-decoration: none;
	font-size: 20px; 
	font-weight: bold; 
}