canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

::-webkit-scrollbar {
	display: none;
}
img {
	max-height: 100%;
	max-width: 100%;

	width: 50%;
	height: 50%;
}

.card-title {
	text-align: center;
}

#scores {
	font-size: 50px; 
	text-align: center;
}

#jsTicTacToe p {
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
}
#rmpScrapper {
	text-align: center;
}

.left, .list-group-item {
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	//position: fixed;
}

.right {
	padding-left: 0%;
	padding-right: 1%;
	padding-bottom: 1%;
	//position: fixed;
	height: 90vh;
	overflow-y: scroll;
}

p {
	font-size: 20px;
	text-align: justify;
}



