h2.section-title{
	//text-align: center;
	/*color: #ffffff; */
	color: #ffcb05; 
	font-weight: bold;

}
h4{
	padding: 5px; 
	margin: 0px; 
}


p {
	margin: 0px; 
	margin-left: 5px; 
	padding: 0px; 
	
}
p.experience-title {
	font-style: italic;
}
p.date{
	font-weight: bold;
}
span.category {
	font-weight: bold; 
}

.panel {
	/*background-color: #DFE6E3; */
}