h2.section-title{
	//text-align: center;
	/*color: #ffffff; */
	color: #ffcb05; 
	font-weight: bold;

}
h4{
	padding: 5px; 
	margin: 0px; 
}
.glyphicon{
	flex-wrap: all;
}

.test {
	display: inline;
}

p {
	margin: 0px; 
	margin-left: 5px; 
	padding: 0px; 
	
}
p.experience-title {
	font-style: italic;
}
p.date{
	font-weight: bold;
}
span.category {
	font-weight: bold; 
}


.card-title {
	text-align: center;
	font-style: italic;
}
.card {	
	//background-color: #000; 
	//color: #faebd7;
	opacity: .95; 
		display: block;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        width: 60%;
       border: 3px dotted;
}
