
h4{
	padding: 5px; 
	margin: 0px; 
	//color: #f19f4d;
}
.glyphicon{
	flex-wrap: all;
}

#relevant-courses{
	margin-top: -10px;
}

p {
	margin: 0px; 
	margin-left: 5px; 
	padding: 0px; 
	
}
p.experience-title {
	font-style: italic;
}
p.date{
	font-weight: bold;
}
span.category {
	font-weight: bold; 
}

.bulletPoint::before {
	content: "\e080"; 
	font-family: 'Glyphicons Halflings';
    font-size: 9px;
    //position: relative;
    float: left;
    margin-top: 5px;
    margin-left: -12px;
}
.bulletPoint {
	list-style-type: none;
	margin-left:-25px;
	text-align: justify;
	/* font-size: 16px; */
}



.card-title {
	text-align: center;
	font-style: italic;
	color: #4484ce; 
	font-weight: bold;
}
.card-subtitle{
	//color: #f19f4d;
}

.card {	
	//background-color: #000; 
	//color: #f19f4d;
	opacity: .95; 
	display: block;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 60%;
    //border: 3px dotted;
}

