body {
			background-color: #00274c; 
		}

		div.col-md-4 {
			position: relative; 
			min-height: 1px; 
			padding-right: 15px; 
			padding-left: 15px; 
		}

		ul.navBar {
			text-align: center;
			list-style-type: none;
			position: fixed;
			background-color: #ffcb05; 
			width: 100%; 
			left: 0;
			top: 0; 
			margin-top: 0; 
			border: 0; 
			padding: 0; 
		}

		li.navBar {
			text-align: center;
			display: inline-block;
		}
		li a:hover {
			background-color: #00274c; 
			color: #ffcb05; 
		}

		li a {
			display: inline-block;
			color: #00274c;
			text-decoration: none;
			padding: 12px;
			font-size: 24px; 
			font-weight: bold; 
		}

		h1 {
			color: #ffcb05; 
			margin-top: 60px; 
			text-align: center;
		}

		img {
			width: 40%; 
			margin-left: 5%; 
		}

		p {
			width: 40%; 
			text-align: center;
			float: right;
			background-color: #ffcb05; 
			color: #00274c; 
			margin-right: 7.5%; 
		}

		span.courses-taken {
			width: 40%; 
			text-align: center;
			float: right;
			background-color: #ffcb05; 
			color: #00274c; 
			margin-right: 7.5%; 
		}