body {
	background-color: #00274c; 
	/* keeps body content from overlapping with the navbar */
	padding-top: 75px; 
}


ul.nav {
	text-align: center;
	list-style-type: none;
	position: fixed;
	//background-color: #ffcb05; 
	width: 100%; 
	left: 0;
	top: 0; 
	margin-top: 0; 
	margin-bottom: 0; 
	border: 0 !important; 
	padding: 0; 
}

li.nav{
			display: inline-block;
			float: none;
			color: #00274c;
			text-decoration: none;
			font-size: 20px; 
			font-weight: bold; 
		}